*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(90deg, #ab4f52bb,#515d91a9 );
}
.contenedor{
    background-color: rgba(0, 0, 0, 0.11);
    padding: 20px;
    display: flex;
    margin-top: 1%;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
}
form{
    border: 1px solid ;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
input{
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
}
#btnIngresar{
    margin-top: 80px;
    width: 50%;
    align-items: center;
    margin-left: 25%;
    cursor: pointer;
    box-sizing: content-box;
}
#btnIngresar:hover{
    background-color: rgb(201, 124, 245);
    box-shadow: 15px 0 35px 0;
}
.correo{
    display: inline-block;
    margin: 30px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 30%;
    margin-top: 10%;
}
.titulo{
    display: flex;
}
.titulo>.subtitulo{
    margin: 50px;
    margin-left: 40% ;
}
.titulo>.subtitulo>h1{
    font-size: 4.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo>.subtitulo>.tec{
    color: #fdf7e3d0;
    padding-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}